@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Paragraph: 1rem;
    --Linear: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(1rem);
    font-family: 'Josefin Sans', sans-serif;
    background: url(images/bg-pattern-desktop.svg), no-repeat center center/cover;
    max-height: 100vh;
}

main {
    display: flex;
    width: 100%;
}

article {
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

article > img {
    width: 140px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    text-transform: uppercase;
    font-size: calc(var(--Paragraph) * 3.5);
    letter-spacing: 1rem;
}

.text {
    color: var(--Desaturated-Red);
    font-size: calc(var(--Paragraph) * 1.1);
    line-height: 1.75rem;
}

.title p:first-child {
    font-weight: 300;
    color: var(--Desaturated-Red);
}

.title p:last-child {
    font-weight: 600;
    color: var(--Dark-Grayish-Red);
}

form {
    position: relative;
    width: 100%;
}

input {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid var(--Desaturated-Red);
    outline: none;
    background-color: transparent;
    border-radius: 1.5rem;
    caret-color: var(--Desaturated-Red);
    color: var(--Desaturated-Red);
    position: relative;
}

input::placeholder {
    font-size: var(1rem);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturated-Red);
}

form button {
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-51.5%);
    padding: 0.8rem 2.4rem;
    outline: none;
    background: linear-gradient(var(--Linear));
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

form button:hover {
    box-shadow: 0 0 16px 4px rgba(248, 191, 191, 0.8);
}
